* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

input:active, input:focus {
  outline: none;
}

li {
  list-style-type: none;
}

.main__header h1 {
  text-align: center;
  font-family: "Shrikhand", sans-serif;
}

footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  padding: 5px 0 15px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  padding: 5px 0 5px 0;
}
footer ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

@media (min-width: 720px) {
  .responsive-footer {
    display: flex;
    flex: 1;
    -moz-column-gap: 50px;
         column-gap: 50px;
    align-items: center;
    justify-content: center;
  }
}

.main__explore {
  background-color: #F6F6F6;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
.main__explore h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
.main__explore p {
  color: #4d4d4d;
}

.main__showroom-restaurant {
  background-color: #F6F6F6;
}

.main__card-restaurant-zone {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  margin: 20px 0 50px 0;
}
@media (min-width: 720px) {
  .main__card-restaurant-zone {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.main__showroom-restaurant-title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 40px;
  margin-left: 20px;
}

.card-restaurant {
  border-radius: 10px;
  box-shadow: 4px 4px 6px #949494;
  margin: 0 20px 0 20px;
  position: relative;
  background: #fff;
}

.card-restaurant figure {
  margin: 0;
}

.card-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.card-restaurant-bottom-part {
  display: flex;
  flex: 8 2 auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 5px 20px;
  color: black;
}
.card-restaurant-bottom-part h3 {
  margin: 10px 0 0 0;
  color: black;
}
.card-restaurant-bottom-part p {
  margin: 5px 0 5px 0;
  color: #615f5f;
}
.card-restaurant-bottom-part i {
  color: #615f5f;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}
.card-restaurant-bottom-part i:hover {
  -webkit-animation: fill 0.45s ease-in-out;
          animation: fill 0.45s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.main__howto {
  margin-bottom: 50px;
}
.main__howto h3 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 40px;
  margin-left: 20px;
  margin-top: 0;
}
.main__howto ul {
  padding-left: 10px;
}
@media (min-width: 720px) {
  .main__howto ul {
    display: grid;
    grid-template-areas: "title . ." "step1 step2 step3";
  }
}

.main__howto-title {
  grid-area: title;
}

.main__howto-step1 {
  grid-area: step1;
}

.main__howto-step2 {
  grid-area: step2;
}

.main__howto-step3 {
  grid-area: step3;
}

.main__howto-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  border: 2px solid #9356DC;
  position: relative;
  padding: 5px 8px;
  right: 15px;
}

.main__howto-button {
  margin: 0 20px 20px 20px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #F6F6F6;
  border: 5px solid #F6F6F6;
  border-radius: 10px;
  box-shadow: 4px 4px 6px #868686;
  font-weight: bold;
}
.main__howto-button i {
  margin: 0 20px 0 5px;
  font-size: 15px;
  color: #615f5f;
}

.header__menu-head {
  align-self: center;
}
.header__menu-head h1 {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
}
.header__menu-head a {
  position: absolute;
  top: 26px;
  left: 24px;
}
.header__menu-head i {
  font-size: 15px;
  color: black;
}

.header__menu-img {
  max-width: 100%;
  max-height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__menu-wrapper {
  background-color: #F6F6F6;
  border-radius: 24px 24px 0 0;
  margin-top: -50px;
  position: relative;
}

.main__menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
}
.main__menu-title h2 {
  font-family: "Shrikhand", sans-serif;
}
.main__menu-title i {
  color: #615f5f;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}
.main__menu-title i:hover {
  -webkit-animation: fill 0.45s ease-in-out;
          animation: fill 0.45s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.main__research {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 3px 0px #c0c0c0;
}

.main__research-text input {
  border: none;
  background: #eaeaea;
  font-size: 12px;
  padding: 10px 5px 10px 5px;
  background-color: transparent;
  text-align: center;
  width: 150px;
}

.main__explore-button button {
  background-image: linear-gradient(1.45turn, #FF79DA, #e86edb, #cf64dc, #b35cdc, #9356DC);
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 16px #868686;
  cursor: pointer;
  margin: 5px 0 15px 0;
}
.main__explore-button button:hover {
  background-color: #a36fe1;
  background-blend-mode: lighten;
  box-shadow: 3px 3px 16px #646464;
}

.button-new-card {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 2%;
  top: 3%;
}/*# sourceMappingURL=main.css.map */