.main__appear-menu {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@for $i from 0 to 11 {
    .appear-delay-#{$i} {
        animation-delay: #{$i/10}s;
        animation-fill-mode: both;
        opacity: 0;
    }
}

@keyframes loader {
        100% {
        opacity: 0;
        z-index: -15;
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    25% {
        transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
    }
}