.main__appear-menu {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@for $i from 0 to 11 {
    .appear-delay-#{$i} {
        animation-delay: #{$i/10}s;
        animation-fill-mode: both;
        opacity: 0;
    }
}
