@mixin main__research-loc {
    border: none;
    background: #eaeaea;
    font-size: 12px;
    padding: 10px 5px 10px 5px;
    background-color: transparent;
    text-align: center;
    width: 150px;
  }

@mixin main__explore-section {
    background-color: $color-grey;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

@mixin main__button-gradient {
    background-image: $button-gradient;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 16px $color-shadow;
    cursor: pointer;
}

@mixin main__button-new-card {
    color: #008766;
    background: $color-tertiary;
    border: 5px solid $color-tertiary;
    border-radius: 5px;
    position: absolute;
    right: 2%;
    top: 3%;
}

@mixin main__card-restaurant {
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgb(148, 148, 148);
    margin: 0 20px 0 20px;
    position: relative;
    background: $color-white;
}

@mixin main__card-restaurant-img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 200px;
}

@mixin main__card-flex-config {
    display: flex;
    flex: 8 2 auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 5px 20px;
    color: black;
}

@mixin heart {
    color: $color-dark-grey;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    &:hover {
        animation: fill 0.45s ease-in-out;
        display: inline-block;
        opacity: 1;
        background:linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        background:-webkit-linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        font-weight: bold;
    }
}

@mixin howto-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    color: $color-white;
    border-radius: 60%;
    border: 2px solid $color-primary;
    position: relative;
    padding: 5px 8px;
    right: 15px;
}

@mixin howto-button {
    margin: 0 20px 20px 20px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid $color-grey;
    border-radius: 10px;
    box-shadow: 4px 4px 6px $color-shadow;
    font-weight: bold;
}

@mixin shadow-menu-item {
    box-shadow: 3px 3px 12px $color-shadow;
}

@mixin title-h3 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 40px;
    margin-left: 20px;
}

@mixin manage-overflow {
    white-space: nowrap; 
    overflow: hidden;
}

@mixin responsive-width($res) {
    @media (min-width: + $res) {
        @content
    }
}