$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #F6F6F6;
$color-mid-grey: #EAEAEA;
$footer-bg-color: #353535;
$color-dark-grey: rgb(97, 95, 95);
$color-white: white;
$color-shadow: #868686;
$button-gradient: linear-gradient(1.45turn, $color-secondary, #e86edb, #cf64dc, #b35cdc, $color-primary);
$font-logo:'Shrikhand', sans-serif;

$res-desktop: 1080px;
$res-tablet: 720px;
$res-mobile: 480px;
$res-max-box: 1280px;