.main__howto {
    margin-bottom: 50px;

    h3 {
    @include title-h3;
    margin-top: 0;
    }

    ul {
        padding-left: 10px;
        @include responsive-width($res-tablet) {
            display: grid;
            grid-template-areas: "title . ."
                                 "step1 step2 step3";
        }
    }
}

.main__howto-title {
    grid-area: title;
}

.main__howto-step1 {
    grid-area: step1;
}

.main__howto-step2 {
    grid-area: step2;
}

.main__howto-step3 {
    grid-area: step3;
}

.main__howto-fav1 {
    margin: 0 20px 0 9px;
    color: $color-dark-grey;
    font-size: 15px;
}

.main__howto-fav2 {
    margin: 0 20px 0 5px;
    font-size: 15px;
}

.main__howto-fav3 {
    color: $color-primary;
    margin: 0 20px 0 5px;
    font-size: 15px;
}

.main__howto-fav {
    color: $color-dark-grey;
}

.main__howto-number {
    @include howto-number;
}

.main__howto-button {
    @include howto-button;
    background: $color-grey;
}

.main__howto-button3 {
    margin: 0 20px 20px 20px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #F5EDFF;
    border-radius: 10px;
    box-shadow: 4px 4px 6px $color-shadow;
    font-weight: bold;
    background-color: #F5EDFF;
}