.main__showroom-restaurant {
    background-color: $color-grey;
}

.main__card-restaurant-zone {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    margin: 20px 0 50px 0;
    @include responsive-width($res-tablet) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.main__showroom-restaurant-title {
    @include title-h3;
}

.card-restaurant {
    @include main__card-restaurant
}

.card-restaurant figure {
    margin: 0;
}

.card-restaurant img {
    @include main__card-restaurant-img
}

.card-restaurant-bottom-part {
    @include main__card-flex-config;
    h3 {
        margin: 10px 0 0 0;
        color: black;
    }
    p {
        margin: 5px 0 5px 0;
        color: $color-dark-grey;
    }
    i {
        @include heart;
    }
}