/* GENERAL */

:root {
    --color-grey: #F6F6F6;
    --color-footer: #353535;
    --color-midgrey: #EAEAEA;
    --color-white: white;
}

/* HEADER */

.wrapper-logo-website {
    display: flex;
    background-color: var(--color-white);
}

/* MAIN */

.main-grid {
    display: grid;
    grid-template-rows: 1fr 6fr 8fr 22fr;
    grid-template-areas: "research-place"
                         "explore-section"
                         "function-section"
                         "restaurant-section";
}

    /* RESEARCH PLACE */

    .wrapper-place-bar {
        background-color: var(--color-midgrey);
    }
    
    /* EXPLORE SECTION */

    .wrapper-explore-section {
        background-color: var(--color-grey);
    }

    /* FUNCTION SECTION */

    .wrapper-function-section {
        display: grid;
        grid-template-rows: auto 1fr 1fr 1fr;
        background-color: var(--color-white);
    }

    /* RESTAURANT SECTION */

    .wrapper-restaurant {
        display: grid;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        background-color: var(--color-grey);

    }

/* FOOTER */

.footer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo"
                         "services"
                         "policies";
    background-color: var(--color-footer);
    
}